<header [class.active]="isMenuOpen">
  <div class="logo">
    <h1>My Portfolio</h1>
  </div>
  <nav>
    <ul>
      <li>
        <a href="#home" id="home-tab" (click)="closeMenu()" id="home-tab"
          >Home</a
        >
      </li>
      <li>
        <a href="#about" id="about-tab" (click)="closeMenu()" id="about-tab"
          >About</a
        >
      </li>
      <li>
        <a href="#work" id="work-tab" (click)="closeMenu()" id="work-tab"
          >Work</a
        >
      </li>
    </ul>
  </nav>
  <div class="hamburger" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</header>

<main>
  <section id="home" class="section">
    <!-- Home Section -->
    <app-home></app-home>
  </section>

  <section id="about" class="section">
    <!-- About Section -->
    <app-about></app-about>
  </section>

  <section id="work" class="section">
    <!-- Work Section -->
    <app-work></app-work>
  </section>

  <!-- <section id="contact" class="section"> -->
  <!-- Contact Section -->
  <!-- <app-contact></app-contact> -->
  <!-- </section> -->
</main>

<footer>
  <div class="social-links">
    <a
      href="https://www.linkedin.com/in/sayan-pramanik-084358178/"
      target="_blank"
      >LinkedIn</a
    >
    <a href="https://github.com/sayanpramanik2012" target="_blank">GitHub</a>
    <a (click)="openContactPopup()">Contact me</a>
  </div>
  <div class="footer-text">
    <p>&copy; 2025 Sayan Pramanik. All rights reserved.</p>
  </div>
</footer>
<!-- Contact Popup -->
<app-contact
  *ngIf="showContactPopup"
  (close)="closeContactPopup()"
></app-contact>
